body {
  font-family: "Poppins", sans-serif;
  background-color: #111827;
  color: #e5e7eb;
  padding: 0;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

table {
  width: 80vw;
  border: 1px solid #2b2d33;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  table-layout: fixed;
}

tr:nth-child(even){
  background:#1f2937;
}

table thead tr {
  background-color: #1f2937;
}

table caption {
  font-size: 1.5em;
  margin: .5em 0 .75em;
}

table tr {
  border: 1px solid #2b2d33;
  padding: .35em;
}

table th,
table td {
  padding: .625em;
  text-align: center;
}

table th {
  height: 40px;
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
}

